@import '../../shared/scss/buttons';

.change-password-container {
  .form-row {
    margin-bottom: 1.5rem;
    text-align: center;
    .form-error {
      text-align: center;
      color: #f00;
      font-size: 1.5rem;
    }
    .password-input-container {
      position: relative;
      width: 400px;
      margin: 0 auto;
    }
    .save-password-button {
      margin-top: 1rem;
      font-size: 1.5rem;
      @include button;
      @include primary-button;
    }
  }
}
