.toggle-password {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  .icon {
    font-size: 1.5rem;
    color: #000;
  }
}

.register-container {
  .toggle-password {
    &.error {
      top: 12px;
    }
  }
}

.login-container {
  .toggle-password {
    &.error {
      top: 16px;
    }
  }
}

.change-password-container {
  .toggle-password {
    &.error {
      top: 15px;
    }
  }
}
