@import '../../shared/scss/buttons';

.register-container {
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
  }
  .form-row {
    margin-bottom: 1.5rem;
    text-align: center;
    .input {
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 5px;
      width: 400px;
      &.error {
        border: 1px solid #f00;
      }
    }
    .password-input-container {
      position: relative;
      width: 400px;
      margin: 0 auto;
    }
    .error {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      color: #f00;
    }
    .button {
      font-size: 1.5rem;
      margin: 0 auto;
      @include button;
      @include primary-button;
    }
  }
}
