body {
  margin: 0;
  .dashboard-container {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    height: 90vh;
    justify-content: flex-start;
    gap: 0;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'sidebar header'
      'sidebar main'
      'footer footer';

    header {
      grid-area: header;
    }

    aside {
      grid-area: sidebar;
      background-color: #613663;
    }

    main {
      grid-area: main;
    }

    footer {
      grid-area: footer;
    }
  }
}
