@import '../../shared/scss/grid';

.input-container {
  position: relative;
  width: 400px;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  .input {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 400px;
    position: relative;
    &.error {
      border: 1px solid #f00;
    }
  }

  .error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #f00;
    margin-top: 0.6rem;
  }
}
