@import '../../shared/scss/buttons';

.forgot-password-container {
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .content {
    margin-left: 1.5rem;
  }
  .form-row {
    margin-bottom: 1.5rem;
    text-align: center;
    .input {
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 5px;
      width: 400px;
      &.error {
        border: 1px solid #f00;
      }
    }
    .error {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      color: #f00;
      margin-top: 0.6rem;
    }
    .button {
      cursor: pointer;
      font-size: 1.5rem;
      margin: 0 auto;
      @include button;
      @include primary-button;
    }
  }
}
