.sidebar-container {
  overflow-y: var(--scrollbar-overflow, scroll);
  outline: none;
  max-width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 -50px 0 0;
  overflow-x: hidden;
  transform: translateZ(0);
}
