.sidebar-container {
  height: 100%;
  color: #fff;
  contain: strict;
  font-size: inherit;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 0;
  display: flex;
  position: relative;
}
