.channel-message-container {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  position: relative;
  vertical-align: top;
  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    position: relative;
    li {
      margin-bottom: 10px;
      padding-left: 10px;
      position: relative;
    }
  }
  .channel-message-header {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
  }
}
